<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Add | RKIS_Lab6</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <h1>Add apparel</h1>
</header>
<article>
    <form class="form" th:object="${apparelForm}" method="post">
        <div>
            <p>Type</p>
            <label>
                <input type="text" name="type" th:field="*{type}" placeholder="type"/>
            </label>
            <span th:if="${#fields.hasErrors('type')}" th:errors="*{type}">type error</span>
        </div>
        <div>
            <p>Size</p>
            <label>
                <input type="text" name="size" th:field="*{size}" placeholder="size"/>
            </label>
            <span th:if="${#fields.hasErrors('size')}" th:errors="*{size}">size error</span>
        </div>
        <div>
            <p>Sex</p>
            <label>
                <input type="text" name="sex" th:field="*{sex}" placeholder="sex"/>
            </label>
            <span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">sex error</span>
        </div>
        <div>
            <p>Price</p>
            <label>
                <input type="number" name="price" th:field="*{price}" placeholder="price"/>
            </label>
            <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">price error</span>
        </div>
        <div>
            <p>In stock</p>
            <label>
                <input type="number" name="inStock" th:field="*{inStock}" placeholder="inStock"/>
            </label>
            <span th:if="${#fields.hasErrors('inStock')}" th:errors="*{inStock}">inStock error</span>
        </div>
        <div class="buttons">
            <br>
            <button type="submit">Add</button>
        </div>
    </form>
</article>
<footer>
    <hr>
    <a th:href="@{~/Lab6_war/}">Home</a>
</footer>
</body>
</html>
