<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Find | RKIS_Lab6</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <h1>Check apparels</h1>
</header>
<article>
    <section>
        <form th:object="${idForm}" method="get">
            <div>
                <p>ID (0 - all)</p>
                <label>
                    <input type="number" name="id" th:field="*{id}" placeholder="id"/>
                </label>
                <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">id error</span>
            </div>
            <div>
                <br>
                <button type="submit">Find by ID</button>
            </div>
        </form>
        <form th:object="${maxPriceForm}" method="get">
            <div>
                <p>Maximal price</p>
                <label>
                    <input type="number" name="price" th:field="*{price}" placeholder="price"/>
                </label>
                <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">maxPrice error</span>
            </div>
            <div>
                <br>
                <button type="submit">Find by maximal price</button>
            </div>
        </form>
    </section>
    <hr>
    <section>
        <p th:text="'Found: ' + ${apparels != null ? apparels.size() : 0}">Number: </p>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Price</th>
                <th>In stock</th>
                <th>Size</th>
                <th>Sex</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="apparel, itemStat : *{apparels}">
                <td><p th:text="*{apparel.getId()}"></p></td>
                <td><p th:text="*{apparel.getApparelType()}"></p></td>
                <td><p th:text="*{apparel.getPrice()}"></p></td>
                <td><p th:text="*{apparel.getInStock()}"></p></td>
                <td><p th:text="*{apparel.getSize()}"></p></td>
                <td><p th:text="*{apparel.getSex()}"></p></td>
            </tr>
            </tbody>
        </table>
    </section>
</article>
<footer>
    <hr>
    <a th:href="@{~/Lab6_war/}">Home</a>
</footer>
</body>
</html>
